html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    
    background-image: url( "/assets/img/page/notjoebg.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    
    //background-image: url( "/assets/img/page/bg.png" );
    //background-repeat: repeat;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 0.7em;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.link:hover
{
    color: #2e2e2e;
}

#form
{
    width: 50%;
    min-height: 80%;
    min-width: 480px;
    margin: 5% auto 0 auto;
    background: radial-gradient( rgba( 215, 175, 118, 0.95 ), rgba( 190, 140, 71, 0.95 ) );
    box-shadow: -2px 0px 5px rgba( 0, 0, 0, 0.65 );
    border-radius: 10px;
}

#logo
{
    width: 80%;
    margin: 10% 10% 5% 10%;
    height: auto;
}

canvas
{
    margin: 40px auto 0 auto;
    //padding-top: 40px;
    box-shadow: -2px 0px 5px rgba( 0, 0, 0, 0.65 );
}

.mainForm
{
    width: 200px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3
{
    text-align: center;
}

.mainForm label
{
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit
{
    transition: background-color 0.4s ease;
    display: block;
    width: 90px;
    
    margin: 0 auto;
    margin-top: 14px;
    
    text-align: center;
    font-size: 1.2em;
    
    background-color: #2f548b;
    border: 3px solid #2f548b;
    border-radius: 5px;
    padding: 3px 0px;
    
    font-family: "Cinzel";
    
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited
{
    color: #c89f1a;
}

.formSubmit:hover
{
    transition: color 0.1s ease;
    background-color: #3a5ea9;
    color: #ffcb05;
}

.formSubmit:active
{
    transition: transform 0.1s ease;
    transform: scale( 0.9, 0.9 );
}

#user, #pass, #pass2
{
    font-family: "Cinzel";
    text-align: center;
    font-size: 1em;
    width: 100%;
    border: 3px solid;
    border-radius: 6px;
    border-color: #2f548b;
    display: block;
}

#user:focus, #pass:focus, #pass2:focus
{
    outline: none;
    border-color: #c89f1a;
}